Frontend-Admin/build
Frontend-Admin/node_modules
Frontend-Admin/package-lock.json
Frontend-Admin/.eslintcache
Backend-API/venv/
Backend-API/__pycache__/
Backend-API/.venv/
Frontend-Mobile/.expo/
Frontend-Mobile/node_modules/
.vscode/extensions.json
